* {
    font-family:  'Segoe UI', 'Roboto', 'Oxygen';
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}
.container-card {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 17px 0px #223c5033;
    transition: all 0.2s ease;
}

.container-card:hover {
    transform: scale(1.01);
    box-shadow: 0px 6px 20px 0px #223c5033
}

.image-card {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.btn-card {
    padding: 10px;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    background-color: #6487df;
    transition: all 0.2s ease;
}

.btn-card:hover {
    background-color: #5a79c8;
}

.card-info {
    display: flex;
    justify-content: space-between;
}

.price-card {
    color: #656565;
}